@import url(./mixin.scss);

.wrapper-content{
    width: 650px;
    margin-left: 133px;
    position: relative;
}

.wrapper-content__nav{
    display: flex;
   
    margin-top: 64px;
}

.wrapper-content__list{
    list-style-type: none;
}

.wrapper-content__list--indent {
    margin-right: 58px;
}

.wrapper-content__list--last{
    margin-left: 54px;
}
.wrapper-content__link{
    text-decoration: none;
    font-weight: 400;
font-size: 18px;
line-height: 22px;
color: $color-black;
}

.wrapper-content__title{
    max-width: 517px;
    margin-top: 160px;
}

.wrapper-content__topic{
    font-weight: 600;
font-size: 64px;
line-height: 77px;
color: $color-black;
margin: 0;
}

.wrapper-content__texts{
    max-width: 650px;
    margin-top: 40px;
    
}

.wrapper-content__text{
    font-size: 18px;
line-height: 32px;
color: rgba(5, 2, 21, 0.75);
border: none;

}

.wrapper-content__button{
    width: 178px;
    height: 60px;
    background: $color-brown;
border-radius: 50px;
border: none;
margin-top: 40px;
}

.wrapper-content__button-text{
    color: #ffffff;
    font-size: 18px;
line-height: 179.5%;
}

.wrapper-content__number{
    font-size: 200px;
line-height: 240px;
/* identical to box height */
color: #ffffff;
-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $color-brown;
    color: transparent;
    position: absolute;
    top: 777px;
    left: 482px;
}

.wrapper-content__texts--hidden{
    width: 645px;
    height: 290px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 20px;
    cursor: pointer;
}

.wrapper-content__texts--hidden::-webkit-scrollbar{
    background-color: $color-gray;
    width: 4px;
}

.wrapper-content__texts--hidden::-webkit-scrollbar-thumb{
    background-color: $color-brown;
    border-radius: 2px;
}