@import url(./mixin.scss);

.wrapper-switch {
    width: 294px;
    @include column-center;
    border-right: 2px solid $color-gray;
}

.wrapper-switch__text {
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    color: #050215;
    margin-top: 57px;
}

.wrapper-switch__numbers {
    font-weight: 500;
    font-size: 54px;
    line-height: 65px;
}

.wrapper-switch__numbers {
    font-size: 54px;
    line-height: 65px;
    color: $color-brown;
}

.wrapper-switch__line {
    width: 4px;
    height: 40px;
    background: $color-gray;
    border-radius: 2px;
}

.wrapper-switch__line-long {
    width: 4px;
    height: 240px;
    background: $color-gray;
    border-radius: 2px;
    position: absolute;
    background-color: $color-gray;
    bottom: 65px;
}

.wrapper-switch__line--active {
    background-color: $color-brown;
    z-index: 2;
}

.wrapper-line {
    margin-top: 267px;
    @include column-center;
    position: relative
}

.wrapper-switch__button {
    width: 58px;
    height: 79px;
    border-radius: 29px;
    margin-top: 181px;
    margin-bottom: 100px;
    background-color: #FFFFFF;
    border: 2px solid $color-brown;
    cursor: pointer;
}